.header {
    display: flex;
    justify-content: space-between;
    background-color: #73a0c1;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
  }
  
  .logo {
    margin: 0;
    font-size: 24px;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 500px;
  }
  
  .actions {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .actions button {
    margin-left: 10px;
  }
  
  .actions button:first-child {
    margin-left: 0;
  }